@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800");
/* normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

figcaption, figure, main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff464a;
  color: #ffffff; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

dfn {
  font-style: italic; }

audio:not([controls]) {
  display: none;
  height: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: none; }

[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
  outline: 0; }

.container:after, .clearfix:after, .row:after, ul:after {
  content: '';
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  background: transparent;
  color: #333;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

::-moz-placeholder {
  color: #bbb; }

:-ms-input-placeholder {
  color: #bbb; }

*::selection {
  background: #16b9ff;
  color: #fff; }

*::-moz-selection {
  background: #16b9ff;
  color: #fff; }

body {
  font-family: 'Khula', 'Malgun Gothic', 'dotum', 'gulim' , 'sans-serif';
  word-break: keep-all;
  font-weight: 300;
  line-height: 1; }

/* layout */
body, html {
  height: 100%; }

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto; }

/* typography */
h1, h2 {
  line-height: 1.2; }

h3, h4, h5, h6 {
  line-height: 1.3; }

p {
  color: #757575;
  font-size: 15px;
  line-height: 1.4; }

/* short cut*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.pof {
  position: fixed; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

/* interval */
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pr0 {
  padding-right: 0 !important; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pl0 {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mr0 {
  margin-right: 0 !important; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.ml0 {
  margin-left: 0 !important; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype"); }
.nanumBarunGothic {
  font-family: 'NanumBarunGothic', sans-serif; }

.notoSans {
  font-family: "Noto Sans KR", sans-serif; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.khula {
  font-family: 'Khula', sans-serif; }

/* Slick Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-slide:focus {
  outline: 0; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

.dots-square .slick-dots {
  position: absolute;
  bottom: 60px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0; }
  @media only screen and (max-width: 767px) {
    .dots-square .slick-dots {
      bottom: 0; }
      .acer-visual .dots-square .slick-dots {
        display: none !important; } }
  .notice-event .dots-square .slick-dots {
    bottom: 0; }
  .dots-square .slick-dots li {
    display: inline-block;
    margin: 0 2px; }
    .dots-square .slick-dots li button {
      display: block;
      width: 20px;
      height: 4px;
      padding: 0;
      background: #fff;
      text-indent: -99999em;
      cursor: pointer;
      border: 0;
      font-size: 0; }
      .products-review .dots-square .slick-dots li button {
        width: 15px;
        height: 2px; }
      .notice-event .dots-square .slick-dots li button {
        background: #e4e4e4; }
      .dots-square .slick-dots li button:focus {
        outline: 0; }
    .acer-visual .dots-square .slick-dots li.slick-active button, .products-review .dots-square .slick-dots li.slick-active button {
      background: #ff7f00; }
    .notice-event .dots-square .slick-dots li.slick-active button {
      background: #222; }

.slick-arrow-angle .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 50px;
  height: 70px;
  border: 0;
  background: transparent; }
  .acer-visual .slick-arrow-angle .slick-arrow {
    left: 50%;
    margin-top: -35px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-arrow {
        left: auto; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-arrow {
        -webkit-background-size: 18px;
        background-size: 18px; } }
  .notice-event .slick-arrow-angle .slick-arrow {
    top: 130px;
    width: 45px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 992px) {
      .notice-event .slick-arrow-angle .slick-arrow {
        top: 95px; } }
    @media only screen and (max-width: 767px) {
      .notice-event .slick-arrow-angle .slick-arrow {
        display: none !important; } }
  .slick-arrow-angle .slick-arrow:focus {
    outline: 0; }
.slick-arrow-angle .slick-prev {
  background: url(../img/angle-left.png) 50% no-repeat; }
  .acer-visual .slick-arrow-angle .slick-prev {
    margin-left: -600px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-prev {
        margin-left: 0;
        left: 50px; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-prev {
        left: 0; } }
  .notice-event .slick-arrow-angle .slick-prev {
    background-image: url(../img/angle-sm-left.png);
    left: 20px; }
.slick-arrow-angle .slick-next {
  background: url(../img/angle-right.png) 50% no-repeat; }
  .acer-visual .slick-arrow-angle .slick-next {
    margin-left: 550px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-next {
        margin-left: 0;
        right: 50px; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-next {
        right: 0; } }
  .notice-event .slick-arrow-angle .slick-next {
    background-image: url(../img/angle-sm-right.png);
    right: 20px; }

/* design selectbox */
.designSelectW {
  display: inline-block; }

.select-content {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%; }

.select-title {
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
  position: relative; }

.select-title:before {
  content: '';
  background: url(/kooramework/assets/img/sub/arrow-down-sm.png) 0 0 no-repeat;
  position: absolute;
  top: 15px;
  right: 12px;
  width: 8px;
  height: 4px; }

.select-content a {
  padding: 0 8px;
  line-height: 36px;
  display: block;
  font-size: 15px; }

.select-content a:hover,
.select-content a:focus {
  text-decoration: none;
  cursor: pointer; }

.select-content .select-title a {
  display: block;
  color: #333; }

.select-content .select-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid #f66665;
  background: #fff; }

.select-content .select-list a {
  color: #333; }

.select-content .select-list a:hover {
  background: #f8f8f8; }

@media screen and (max-width: 768px) {
  .select-content a {
    font-size: 12px;
    line-height: 32px; }

  .select-title:before {
    top: 10px;
    right: 10px; } }
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn:hover {
  text-decoration: none; }

.btn-material {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 30px; }
  .header .logo {
    float: left; }
    .header .logo a {
      font-size: 38px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase; }
  .header nav {
    float: right; }
    .header nav .link {
      padding: 20px 20px 15px;
      display: inline-block;
      font-size: 16px;
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.25);
      margin-left: 8px;
      border: 1px solid transparent;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .header nav .link:hover {
        border-color: #ffffff; }

/* footer */
.form-control {
  display: inline-block;
  width: 100%;
  padding: 8px;
  line-height: 1.4;
  border: 1px solid transparent;
  background: transparent;
  color: #333;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.visual {
  text-align: center;
  background-image: -webkit-linear-gradient(120deg, #eb3349, #f45c43);
  background-image: linear-gradient(120deg, #eb3349, #f45c43); }
  .visual .text {
    padding: 150px 0 70px; }
    .visual .text h2 {
      position: relative;
      bottom: -60px; }
      .visual .text h2 img {
        max-width: 410px; }
    .visual .text h3 {
      font-size: 110px;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.1);
      text-transform: uppercase; }
    .visual .text p {
      font-size: 28px;
      color: #c41e31;
      text-transform: capitalize;
      font-weight: 400;
      position: relative;
      top: -65px; }
  .visual .vs-bg {
    position: relative;
    top: 60px; }
    .visual .vs-bg .phone {
      position: absolute;
      top: -100px;
      left: 50%;
      margin-left: -150px;
      max-width: 300px; }

.title-area01 {
  margin-bottom: 20px; }
  .title-area01 h2 {
    font-size: 80px;
    color: #4c4c4c;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center; }
  .title-area01 p {
    font-size: 18px;
    font-weight: 700;
    color: #3c3838;
    padding: 20px 0; }
    .title-area01 p span {
      color: #f66665; }

.title-area {
  margin: 25px 0; }
  .title-area .motion-txt p {
    font-size: 20px;
    font-weight: 600;
    color: #f66665;
    margin: 0 0 0 10px;
    display: inline-block; }
  .title-area .motion-txt .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #f66665;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px; }
  .title-area h2 {
    font-size: 50px;
    color: #4c4c4c;
    font-weight: 700;
    text-transform: capitalize;
    padding: 14px 0; }
  .title-area p {
    font-size: 16px;
    font-weight: 400;
    color: #3c3838;
    line-height: 1.5; }

.title-area02 {
  margin: 25px 0; }
  .title-area02 .motion-txt02 p {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    margin: 0 0 0 10px;
    display: inline-block; }
  .title-area02 .motion-txt02 .dot02 {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px; }
  .title-area02 h2 {
    font-size: 50px;
    color: #FFF;
    font-weight: 700;
    text-transform: capitalize;
    padding: 14px 0; }
  .title-area02 p {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.5; }

.title-area03 {
  margin-bottom: 20px; }
  .title-area03 h2 {
    font-size: 80px;
    color: #FFF;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center; }
  .title-area03 p {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.5;
    text-align: center; }

.story-behind {
  padding: 160px 0 90px; }
  .story-behind .lists {
    padding-top: 150px; }
    .story-behind .lists ul li {
      margin-bottom: 60px;
      position: relative; }
      .story-behind .lists ul li .icon {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 80px; }
      .story-behind .lists ul li .desc {
        width: 50%;
        float: left;
        padding: 0 80px; }
        .story-behind .lists ul li .desc h3 {
          font-size: 24px;
          font-weight: 600;
          color: #f66665;
          max-width: 340px;
          margin-bottom: 30px; }
        .story-behind .lists ul li .desc p {
          font-size: 16px;
          font-weight: 400;
          color: #444444; }
      .story-behind .lists ul li .dot {
        width: 34px;
        height: 34px;
        background: #f66665;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -17px;
        margin-top: -17px; }

.hours {
  text-align: center;
  background-image: -webkit-linear-gradient(120deg, #eb3349, #f45c43);
  background-image: linear-gradient(120deg, #eb3349, #f45c43);
  height: 465px; }
  .hours .wave-img {
    position: relative;
    top: 0;
    left: 0; }
  .hours h2 {
    padding-top: 110px; }

.massage-capsulation {
  margin: 150px 0; }
  .massage-capsulation .mc-txt {
    max-width: 770px;
    float: left; }
    .massage-capsulation .mc-txt .mc-step {
      padding-top: 50px; }
    .massage-capsulation .mc-txt .mc-step li {
      float: left;
      padding-right: 25px;
      width: 33.33%; }
      .massage-capsulation .mc-txt .mc-step li span {
        display: block; }
      .massage-capsulation .mc-txt .mc-step li h3 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
        padding: 20px 0; }
      .massage-capsulation .mc-txt .mc-step li p {
        font-size: 16px;
        font-weight: 400;
        color: #3c3838;
        line-height: 1.5; }
  .massage-capsulation .mc-img {
    float: right;
    max-width: 400px;
    margin-top: 30px; }

.monetization {
  margin-bottom: 60px; }
  .monetization .monetization-img {
    width: 830px;
    height: 940px;
    float: left;
    position: relative; }
    .monetization .monetization-img .img1 {
      position: absolute;
      top: 0;
      left: 270px;
      z-index: 0; }
    .monetization .monetization-img .img2 {
      position: absolute;
      top: 135px;
      left: 0px;
      z-index: 2; }
    .monetization .monetization-img .img3 {
      position: absolute;
      top: 430px;
      right: -15px;
      z-index: 3; }
    .monetization .monetization-img .img4 {
      position: absolute;
      bottom: 0px;
      left: 65px;
      z-index: 4; }
    .monetization .monetization-img .icon-img1 {
      position: absolute;
      top: 365px;
      left: 35px; }
    .monetization .monetization-img .icon-img2 {
      position: absolute;
      top: 470px;
      left: -30px; }
    .monetization .monetization-img .icon-img3 {
      position: absolute;
      top: 500px;
      left: 130px; }
    .monetization .monetization-img .icon-img4 {
      position: absolute;
      top: 600px;
      left: 40px; }
    .monetization .monetization-img .icon-img5 {
      position: absolute;
      top: 385px;
      right: 165px; }
    .monetization .monetization-img .icon-img6 {
      position: absolute;
      top: 350px;
      right: 20px; }
    .monetization .monetization-img .icon-img7 {
      position: absolute;
      top: 470px;
      right: 110px; }
    .monetization .monetization-img .icon-img8 {
      position: absolute;
      top: 510px;
      right: 10px; }
  .monetization .monetization-txt {
    float: right;
    max-width: 430px;
    margin-top: 260px; }

.push-notification {
  position: relative;
  overflow: hidden;
  padding: 70px 0 200px 0;
  background-image: -webkit-linear-gradient(120deg, #f45c43, #eb3349);
  background-image: linear-gradient(120deg, #f45c43, #eb3349); }
  .push-notification .n-txt {
    max-width: 700px; }
    .push-notification .n-txt strong {
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      padding: 50px 0 20px 0;
      display: block; }
  .push-notification .notification {
    width: 650px; }
    .push-notification .notification .cases .case01 {
      margin-bottom: 50px;
      float: left; }
      .push-notification .notification .cases .case01 img {
        float: left; }
      .push-notification .notification .cases .case01 p {
        margin-left: -3px;
        width: 415px;
        height: 76px;
        background: rgba(255, 255, 255, 0.6);
        float: left;
        font-size: 14px;
        color: #481c1a;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        line-height: 1.5;
        padding: 18px 30px 0 30px;
        font-weight: 600; }
        .push-notification .notification .cases .case01 p span {
          font-weight: 700;
          display: block; }
    .push-notification .notification .cases .case02 {
      margin-bottom: 50px;
      float: right; }
      .push-notification .notification .cases .case02 img {
        float: left; }
      .push-notification .notification .cases .case02 p {
        margin-left: -7px;
        width: 415px;
        height: 76px;
        background: rgba(255, 255, 255, 0.6);
        float: left;
        font-size: 14px;
        color: #481c1a;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        line-height: 1.5;
        padding: 18px 30px 0 30px;
        font-weight: 600; }
        .push-notification .notification .cases .case02 p span {
          font-weight: 700;
          display: block; }
    .push-notification .notification .cases .case03 {
      margin-bottom: 50px;
      float: left; }
      .push-notification .notification .cases .case03 img {
        float: left; }
      .push-notification .notification .cases .case03 p {
        margin-left: -6px;
        width: 415px;
        height: 76px;
        background: rgba(255, 255, 255, 0.6);
        float: left;
        font-size: 14px;
        color: #481c1a;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        line-height: 1.5;
        padding: 18px 30px 0 30px;
        font-weight: 600; }
        .push-notification .notification .cases .case03 p span {
          font-weight: 700;
          display: block; }
  .push-notification .vibration-img {
    position: absolute;
    top: 0;
    right: -200px; }

.wireframes {
  background: #092742; }
  .wireframes .wave-img2 {
    position: relative;
    top: -115px;
    left: 0; }
  .wireframes .wireframes-img {
    position: relative;
    height: 1000px;
    margin-top: 100px; }
    .wireframes .wireframes-img .capsulate-message {
      max-width: 315px;
      position: absolute;
      top: 0;
      left: 0; }
      .wireframes .wireframes-img .capsulate-message p.title {
        font-size: 18px;
        font-weight: 700;
        color: #fde4ac; }
      .wireframes .wireframes-img .capsulate-message p {
        font-size: 14px;
        font-weight: 400;
        color: #fff; }
    .wireframes .wireframes-img .profile {
      max-width: 315px;
      position: absolute;
      top: 0;
      left: 460px; }
      .wireframes .wireframes-img .profile p.title {
        font-size: 18px;
        font-weight: 700;
        color: #fde4ac; }
      .wireframes .wireframes-img .profile p {
        font-size: 14px;
        font-weight: 400;
        color: #fff; }
    .wireframes .wireframes-img .messages {
      max-width: 315px;
      position: absolute;
      top: 65px;
      left: 0; }
      .wireframes .wireframes-img .messages p.title {
        font-size: 18px;
        font-weight: 700;
        color: #fde4ac; }
      .wireframes .wireframes-img .messages p {
        font-size: 14px;
        font-weight: 400;
        color: #fff; }
    .wireframes .wireframes-img .layer-img-btm {
      position: absolute;
      top: -70px;
      left: -175px;
      z-index: 0;
      width: 1620px;
      height: 994px; }
    .wireframes .wireframes-img .layer-img-top {
      position: absolute;
      top: -70px;
      left: -175px;
      z-index: 1;
      width: 1620px;
      height: 994px; }
    .wireframes .wireframes-img .icon01 {
      position: absolute;
      top: 200px;
      left: 280px; }
    .wireframes .wireframes-img .icon02 {
      position: absolute;
      top: 260px;
      left: 340px; }
    .wireframes .wireframes-img .icon03 {
      position: absolute;
      top: 120px;
      left: 530px; }
    .wireframes .wireframes-img .icon04 {
      position: absolute;
      top: 150px;
      left: 730px; }
    .wireframes .wireframes-img .icon05 {
      position: absolute;
      top: 750px;
      left: 300px; }
    .wireframes .wireframes-img .icon06 {
      position: absolute;
      top: 820px;
      left: 660px; }
    .wireframes .wireframes-img .icon07 {
      position: absolute;
      top: 710px;
      left: 800px; }
    .wireframes .wireframes-img .icon08 {
      position: absolute;
      top: 600px;
      left: 920px; }

.evolution {
  padding-bottom: 150px; }
  .evolution .top-evolution {
    background: #f4f4f9;
    height: 450px;
    padding: 70px 0; }
    .evolution .top-evolution .top-container {
      width: 670px;
      margin: 0 auto; }
      .evolution .top-evolution .top-container .visual-clock {
        position: relative;
        top: 0;
        left: -284px;
        width: 991px;
        height: 538px; }
        .evolution .top-evolution .top-container .visual-clock .left-clock {
          position: absolute;
          top: 130px;
          left: 350px; }
        .evolution .top-evolution .top-container .visual-clock .right-clock {
          position: absolute;
          top: 100px;
          right: 170px; }
  .evolution .visual-card-img {
    padding-top: 370px; }
    .evolution .visual-card-img .left-red-box {
      position: relative;
      width: 49%;
      height: 314px;
      float: left;
      background-image: -webkit-linear-gradient(120deg, #f45c43, #eb3349);
      background-image: linear-gradient(120deg, #f45c43, #eb3349); }
      .evolution .visual-card-img .left-red-box .left-card01 {
        position: absolute;
        top: 115px;
        right: 135px; }
      .evolution .visual-card-img .left-red-box .left-card02 {
        position: absolute;
        top: 60px;
        right: 300px; }
    .evolution .visual-card-img .right-red-box {
      position: relative;
      width: 49%;
      height: 314px;
      float: right;
      background-image: -webkit-linear-gradient(120deg, #eb3349, #f45c43);
      background-image: linear-gradient(120deg, #eb3349, #f45c43); }
      .evolution .visual-card-img .right-red-box .right-card01 {
        position: absolute;
        top: 120px;
        left: 90px; }
      .evolution .visual-card-img .right-red-box .right-card02 {
        position: absolute;
        top: 40px;
        left: 280px; }
  .evolution .visual-card-txt {
    padding-top: 120px; }
    .evolution .visual-card-txt .left-ccard-txt01 {
      width: 49%;
      position: relative;
      float: left; }
      .evolution .visual-card-txt .left-ccard-txt01 p {
        width: 620px;
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 16px;
        font-weight: 400;
        color: #3c3838; }
    .evolution .visual-card-txt .right-ccard-txt01 {
      width: 49%;
      position: relative;
      float: right; }
      .evolution .visual-card-txt .right-ccard-txt01 p {
        width: 650px;
        position: absolute;
        top: 40px;
        left: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #3c3838; }

/*# sourceMappingURL=style.css.map */
