.form-control {
  display: inline-block;
  width: 100%;
  padding: 8px;
  line-height: 1.4;
  border: 1px solid transparent;
  background: transparent;
  color: #333;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}